# LaTeX
*.aux
*.bbl
*.blg
*.log
*.out
*.toc
*.lof
*.lot
*.fls
*.fdb_latexmk
*.synctex.gz
*.nav
*.snm
*.vrb
*.xdv
*.run.xml
auto/
_build/
_build*/
*.pdfsync

# OS/editor
.DS_Store
Thumbs.db
*.swp
.idea/
.vscode/
